*{
    background-color: azure;
}
h2{
    background-color: brown;
    text-align: center;
    font-style: italic;
    border: 2px dashed black;
}
div{
    padding: 5%;
    background-color: antiquewhite;
    text-align: center;
    font-style: italic;
    border: 2px border red;
}